<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Моё хобби</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta http-equiv="Content-Type">
</head>

<body>
    <div class="header">
        <div class="header__section">
            <div class="header__item headerlogo">
                Мой хобби
            </div>
        </div>
        <div class="header_sction">
            <div class="header__item headerButton"><a href="index.html">
                Главная</a></div>
            <div class="header__item headerButton"><a href="about.html">
                Обо мне</a></div>
            <div class="header__item headerButton"><a href="contacts.html">
                Обратная связь</a></div>
        </div>

    </div>
<p> Обо мне много рассказывать не буду. Мне 37 лет. Уже побывал в бракеи успел развестись. Живу один в квартире. 
    Есть домашний питомец - кошка</p>
<hr>
<footer>
 <p>Stexe, 2022</p>
</footer>
</body>
</html>>