<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Моё хобби</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta http-equiv="Content-Type">
</head>

<body>
    <div class="header">
        <div class="header__section">
            <div class="header__item headerlogo">
                Мой хобби
            </div>
        </div>
        <div class="header_sction">
            <div class="header__item headerButton"><a href="index.html">
                Главная</a></div>
            <div class="header__item headerButton"><a href="about.html">
                Обо мне</a></div>
            <div class="header__item headerButton"><a href="contacts.html">
                Обратная связь</a></div>
        </div>

    </div>
<p>Обратная связь:</p>
    <p>Телефон: <указывать не буду></p>
    <p>Viber: <зачем,если и телефон не указал></p>
    <p>Адрес: РФ, Сибирь</p>
    <p>:D</p>
    <p>Думаю этого достаточно</p>
</p>
<hr>
<footer>
 <p>Stexe, 2022</p>
</footer>
</body>
</html>